/*
Theme Name: Twenty Twenty Child Theme
Theme URI: http://localhost/gym_box/gym-box
Description: Twenty Twenty Child Theme
Author: ABC
Author URI: http://hachiweb.com
Template: twentytwenty
Version: 1.0
*/
/* =Theme customization starts here
------------------------------------------------------- */

*{margin:0;padding:0;box-sizing:border-box;}
