*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color:rgb(240, 235, 235); */
}
.select_shoe h3{
    text-align: center;
    margin:50px;
    font-weight:600;
}
.part{
    /* border:2px solid #d8d8d8; */
    background-color: #d8d8d8;
    padding:25px 20px;
    border-radius:3px;
    text-align: center;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    cursor: pointer;
}
.part_leather{
  /* border:2px solid #d8d8d8; */
  background-color:#d8e2f3;
  padding:25px 0px;
  border-radius:3px;
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}
.part_leather h6{
    font-size:14px;
}
.texture_part_leather{
/* border:2px solid #d8d8d8; */
  background-color:#d8e2f3;
  padding:33px 0px;
  border-radius:3px;
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}
.clr1{
    background-color:#c4e0b2;
}
.clr2{
    background-color:#595959;
}
.clr3{
    background-color:#548135;
}
.clr4{
    background-color:#2f5496;
}
.clr5{
    background-color:#f7caac;
}

.display-hidden{
    display:none;
}
.margin-bottom{
    margin-bottom:40px;
}




/* slider show multiple items */
.carousel-inner .active,
.carousel-inner .active+.carousel-item,
.carousel-inner .active+.carousel-item+.carousel-item,
.carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
display: block;
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
transition: none;
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
position: relative;
transform: translate3d(0, 0, 0);
}

.carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.active.carousel-item-left+.carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
.carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.active.carousel-item-right+.carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
.carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}

.carousel-item {
margin-right: auto !important;
/* margin:auto !important; */
}