*{
    margin:0;padding:0;
}
.border-back button{
background-color:rgb(92,106,196);
}
.border-back button:hover{
    background-color:rgb(71, 82, 158);
    }
    .border-bottom{
        margin:0px 10px;
    }
  .padding-set{
    padding:20px 0px 40px 0px;
}
.border2{
    border:1px solid rgb(184, 178, 178);
    border-radius: 3px;
}
.border-set{
    position:relative;
    padding:60px;
    border:1px solid rgb(184, 178, 178);
    background-color:white;
    border-radius: 2%;
    margin:12px 0px;
}
.set1{
    position:absolute;
    left:15px;
    top:15px;
    display: inline;
}
.set2{
  position:absolute;
  right:15px;
  top:15px;
  display: inline;
  font-size:20px;
  cursor: pointer;
}
.set3{
    position:absolute;
    left:15px;
    bottom:15px;
    display: inline;
    font-size:20px;
  cursor: pointer;
  }
  .set4{
    position:absolute;
    left:15px;
    bottom:15px;
    display: inline;
    font-size:25px;
  cursor: pointer;
  }
  .FooterHelp__Content{
      border:1px solid #e2e6ea;
      padding:10px 30px;
      margin:50px;
      border-radius:50px;
  }
  .FooterHelp__Content span{
    color:#abb0b4;
}
.settings-one{
    padding:60px 0px;
}
.settings-two{
    padding:50px 0px 0px 0px;
}
.settings a{
    color:gray;
    font-size: 16px;
    text-decoration:none;
}
.border-top-set{
border-top:3px solid#62b1ed;
margin:20px 0px;
}
.border-top-set-one{
background-color: white;
border:1px solid #e2e6ea;
}
.border3{
    border:1px solid rgb(184, 178, 178);
    border-radius: 3px;
    margin:10px 20px;
}
.border-back input{
border-radius: 0px;
}
.border-back button{
    border-radius: 4px;
    margin-bottom:3px;
}
.visitors-set{
    padding:0px 18px;
}

@media screen and (max-width: 576px) {
.responsive-set{float: left;}
} 
.border2:hover{
background-color:rgb(243, 236, 236);
}