.navbar {
    padding: 0.75rem 2rem;
}
body{
    background-color: #eaeef0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.left-part{
    min-height: 120vh;
    background-color:#334c63;
    z-index: 2;
    -webkit-box-shadow: -2px 9px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 9px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 9px 20px -1px rgba(0, 0, 0, 0.75);
}
.serial{
    padding:15px 0px;
}
.serial h2{
    color:white;
    font-size:1.25rem;
    font-weight: 500;
    line-height: 1.1;
}
.choose-destination {
    color: #698dae;
    font-size: 0.8rem;
    font-style: italic;
}

.form-group .form-control {
    padding-left: 2.375rem;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
#travel_flight {
    background-image: url(../img/plane.svg);
    width: 22px;
    height: 22px;
    display: inline-block;
}
#travel_car {
    background-image: url(../img/car.svg);
    width: 22px;
    height: 22px;
    display: inline-block;
}
#travel_flight.active {
    background-image: url(../img/plane-active.svg);
}

#travel_car.active {
    background-image: url(../img/car-active.svg);
}
.styler {
    padding-left: 0rem;
    margin-top: 1.5rem;
    display: flex;
}
.styler li {
    color: #fff;
    padding: 6px;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.styler li.active img {
    border-color: #30c5bd;
}
.styler li img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #335370;
    object-fit: cover;
    height: 89.75px;
    width: 89.75px;
}
img {
    vertical-align: middle;
}
.portraIte-landscape {
    padding-left: 0rem;
    padding-bottom: 3rem;
}
.portraIte-landscape li:first-child {
    border-radius: 5px 0px 0px 5px;
}
.portraIte-landscape li.active {
    background-color: #273c50 !important;
    color: #fff;
}
.portraIte-landscape li {
    background-color: #2d4359;
    color: #c1c8cf;
    padding: 0.75rem 1rem;
    text-align: center;
    list-style: none;
    width: 50%;
    float: left;
    text-transform: uppercase;
    font-size: 0.75rem;
    cursor: pointer;
}
.sizes {
    padding-left: 0rem;
    padding-bottom: 5rem;
}
.sizes li .size-container {
    display: table-cell;
    vertical-align: middle;
}
.sizes li {
    background-color: #2d4359;
    color: #c1c8cf;
    padding: 0.1rem 0.1rem 0.625rem 0.1rem;
    display: table;
    text-align: center;
    list-style: none;
    width: 30%;
    float: left;
    text-transform: uppercase;
    font-size: 0.75rem;
    cursor: pointer;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    height: 60px;
}
.new_row {
    /* padding-left: 0rem; */
    margin-top: 0.4rem;
    display: flex;
}
.sizes .big {
    font-size: 1.5rem;
    display: block;
    line-height: 1.5rem;
    padding-top: 10px;
}
.sizes .xsmall {
    font-size: 1.3rem;
    display: block;
}
.sizes li.active {
    background-color: #273c50 !important;
    color: #fff;
}
.print-order {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 20%;
    padding: 1rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-outline-success {
    color: #30c5bd!important;
    background-image: none;
    background-color: transparent!important;
    border-color: #30c5bd!important;
}
.btn-outline-success:hover {
    color: white!important;
    background-image: none;
    background-color: #30c5bd!important;
    border-color: #30c5bd!important;
}

/* .red-tooltip ~ .tooltip > .tooltip-inner {
    background-color: #f00;
    padding: 10px;
    font-size: 14px;
  } */

  #map-container {
    border: 10px solid white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 4% auto 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 23px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 23px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 23px -4px rgba(0, 0, 0, 0.75);
}

.mapboxgl-map {
    font: 12px/20px Helvetica Neue,Arial,Helvetica,sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-align: left;
}

.gradient.blue-gradient {
    background-image: -webkit-linear-gradient(top, rgba(169, 208, 205, 0), rgba(169, 208, 205, 1));
    background-image: -moz-linear-gradient(to bottom, rgba(169, 208, 205, 0), rgba(169, 208, 205, 1));
    background-image: linear-gradient(to bottom, rgba(169, 208, 205, 0), rgba(169, 208, 205, 1));
}
.gradient {
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 10px;
    position: absolute;
    text-align: center;
    font: 18px/20px 'HKGrotesk-Regular';
    z-index: 1;
}
.map-portrait{
    width: 467.8px; 
    height: 661.5px;
}
.map-lanscape{
    width:661.5px;
    height:467.8px;
}

.mapboxgl-portrait{
    position: absolute; 
    width: 448px!important; 
    height: 642px!important;
}
.mapboxgl-landscape{
    position: absolute; 
    width: 642px!important; 
    height: 448px!important;
}
