/* 
	Theme: PosterPro 
    Author: Insertcart.com
*/
h3.accordion-section-title:before {
color:#ffffff;
}
li#accordion-section-poster_important_links .accordion-section-title{
	background: rgb(255, 80, 80);
}
.control-section .accordion-section-title, .customize-pane-child .accordion-section-title {
    border-left: none;
    border-right: none;
    padding: 9px 10px 9px 14px;
    line-height: 19px;
    background: #fff;
}
#customize-theme-controls .accordion-section-title:after {
    content: "\f345";
    color: #ffffff;
}
#customize-theme-controls .control-section .accordion-section-title:focus:after, #customize-theme-controls .control-section .accordion-section-title:hover:after, #customize-theme-controls .control-section.open .accordion-section-title:after, #customize-theme-controls .control-section:hover>.accordion-section-title:after {
    color: #ffffff;
}
#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title {
    color: #ffffff;
    border-left-color: #0073aa;
	    background: rgb(29, 120, 144);
		}
		#customize-controls .customize-info .accordion-section-title {
    background: #76c5e9;
		color: #ffffff;}
#customize-theme-controls .control-section-themes .accordion-section-title, #customize-theme-controls .control-section-themes .accordion-section-title:hover {
    cursor: default;
    background: #76c5e9;
    color: #ffffff;
}
.wp-full-overlay-sidebar {
    background: rgba(118, 197, 233, 0.11);
    border-right: 1px solid #ddd;
}
#customize-theme-controls .accordion-section-title {
color: #ffffff;
    background: rgb(118, 197, 233);
    border-bottom: 1px solid rgba(247, 247, 247, 0.65);
    border-left: 4px solid #fff;
    -webkit-transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
    transition: .15s color ease-in-out,.15s background-color ease-in-out,.15s border-color ease-in-out;
}
#sub-accordion-section-poster_panel_postsettings .customize-control-radio label{
	    padding-top: 3px;
    padding-bottom: 2px;
}
li#accordion-section-poster_news_ticker > h3.accordion-section-title:before {
	content: "\f229";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-poster_woo_section > h3.accordion-section-title:before {
	content: "\f174";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-custom_css > h3.accordion-section-title:before {
	content: "\f475";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-profile_panel_tabs > h3.accordion-section-title:before {
   content: "\f212";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-profile_panel_featured > h3.accordion-section-title:before {
   content: "\f108";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-poster_panel_postsettings > h3.accordion-section-title:before {
   content: "\f491";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#accordion-section-header_image > h3.accordion-section-title:before {
   content: "\f226";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	font-size: 17px;
    font-weight: normal;}
li#customize-control-important_links a:before {
   content: "\f504";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
	    font-size: 17px;
    font-weight: normal;}
li#customize-control-important_links a{
line-height: 16px;
    background: #FF9800;
    color: #fff;
    display: block;
    margin: 15px 0 0;
    text-align: center;
    font-weight: 600;
    padding: 8px 0;
}
li#accordion-section-poster_important_links > h3.accordion-section-title:before {
	content: "\f317";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
    color: #fff;}
li#accordion-panel-poster_panel_advance > h3.accordion-section-title:before {
   content: "\f111";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;}
li#accordion-panel-nav_menus > h3.accordion-section-title:before {
   content: "\f214";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;}
li#accordion-section-title_tagline > h3.accordion-section-title:before {
    content: "\f107";
    font-family: dashicons;
    padding: 3px;
	vertical-align: bottom;
}
li#accordion-panel-poster_panel_design > h3.accordion-section-title:before {
    content: "\f100";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-panel-widgets > h3.accordion-section-title:before {
    content: "\f479";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-section-static_front_page > h3.accordion-section-title:before {
    content: "\f105";
    font-family: dashicons;
	vertical-align: bottom;
    padding: 3px;
}
li#accordion-panel-ishop_panel_social > h3.accordion-section-title:before {
    content: "\f242";
    font-family: dashicons;
    padding: 3px;
}
li#accordion-panel-ishop_theme_colorcustomize > h3.accordion-section-title:before {
    content: "\f111";
    font-family: dashicons;
    padding: 3px;
}
li#accordion-panel-ishop_slider > h3.accordion-section-title:before {
    content: "\f105";
    font-family: dashicons;
    padding: 3px;
}

#accordion-section-ishop_theme_navigation > ul > li.customize-section-description-container > p{
    color: #f00;
}

#widgets-right > div > a:nth-child(1):hover{
    opacity: 0.8;
 
  }

#customize-control-custom_css > label > textarea{
      background-color: #333;
  color: #fff;
  font-size: 13px;
  min-height: 150px;
}

#accordion-section-ishop_ticker > ul > li.customize-section-description-container > p{
    
    color: #f78828;
}